.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f2f2f2;
}
header {
    position: relative;
}
header>img {
    object-fit: cover;
    overflow: hidden;
    height: 300px;
    width: 100%;
}
.imgText {
    margin: 0;
    padding: 1rem;
    background-color: rgb(0, 0, 0, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, -50%);
}
.imgText>h1{
    font-size: 2rem;
    color: #f2f2f2;
    text-transform: uppercase;
}
.imgText>h4 {
    color: #f2f2f2;
}
form {
    margin: 10px;
}
fieldset {
    padding: 10px;
    border: 2px solid #ccc;
    margin-bottom: 2rem;
}
input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    height: 2rem;
    font-size: 1.5rem;
    padding-left: 10px;
}
.buttonSpace {
    display: flex;
    justify-content: space-between;
}
button {
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2rem;
}
button.red {
    background-color: #d9534f;
    color: #fff;
}
button.blue {
    background-color: #0275d8;
    color: #fff;
}
strong{
    font: bold;
}
@media (min-width: 768px) {
    .container {
        min-height: calc(100vh - 348px);
    }
    .formGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem; 
    }
    .imgText {
        top: 150px;
        left: 30%;
        width: 40vw;
        transform: translate(-20,-20);
    }
}
@media (min-width: 1200px) {
    .imgText>h4 {
    padding-left: .3rem;
    }
    button {
        font-size: 2rem;
        height: 3rem;
    }
}
