@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-rows:1fr 1fr;
    height: 100vh;
}
.titleText {
    display: grid;
    grid-template-rows:4fr 1fr;
    height: 100%;
}
.landingPage {
    position: relative;
    background-color: #33a8dd;
    padding: 1rem;
}

.art01 {
    position: relative;
    background-color: #33a8dd;
    padding: 1rem;
}

.art02 {
    position: relative;
    background-color: #f46731;
    padding: 1rem;
}

.art03 {
    position: relative;
    background-color: #2bcdc0;
    padding: 1rem;
}

section {
    background-color: white;
}

.bottomContent {
    padding: 1rem;
}

.centerText {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font: bold;
    font-size: 5rem;
    color: white;
}

.navBG {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fab, .fas {
    color: white !important;
    font-size: 3rem;
}

.box {
    margin: 15px auto;
    width: 90%;
    height: 2rem;
}

.boxBlue {
    background-color: #33a8dd;
}

.boxTomato {
    background-color: #f46731;
}

.boxTurquoise {
    background-color: #2bcdc0;
}

.boxText {
    margin: 15px auto;
    width: 90%;
}

h2 {
    text-align: center;
    font: bold;
    font-size: 3rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

iframe {
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow: hidden;
}

.video-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.video {
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

a {
    color: black;
    text-decoration: none !important;
    transition: all 1s ease;
}

a:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) { 
    .landingPage {
        background-color: #2bcdc0;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 4rem;
        background-color: #1b1b1b;
        color: white;
        padding: 2rem 10rem;
        
    }
  
    .bottomContent {
        padding: 1rem;
        height: 100%;
        background-color: #1b1b1b;
        color: white;
    }

    iframe {
        padding: 0;
        margin: 0;
        width: 50vw;
        height: 50vh;
        overflow: hidden;
    }
    
    .video-container{
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .video {
        padding: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    a {
        color: white;
    }

  }