.calendarContainer {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 15px;
}

.calendarRows {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.days {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* row-gap: 5px; */
}

.monthGrid {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.weekday, .light, .dayNum {
    height: 33px;
    padding-top: 1rem;
    background-color: #fff;
    /* border-radius: 3px; */
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 1rem;
    color: #333;
}

.light {
    opacity: .5;
}

.weekday {
    color: red;
    opacity: .5;
}

.dayNum:hover {
    background-color: lightgray;
    color: white;
}

.calendarRows .monthGrid {
    padding: 0px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: #008CBA;
}

@media (min-width: 800px) {
    .calendarContainer {
        top: 40%;
        width: 500px;
    }
    .weekday, .light, .dayNum {
        padding-top: 0rem;
        font-size: 2rem;
        
    }
}